<!DOCTYPE html>
<html>
<body>
    <h3>Enter Book Details</h3>
    <form method="post" action="/add_book">
        <label for="title">Title:</label><br>
        <input type="text" id="title" name="title"><br>
        <label for="author">Author:</label><br>
        <input type="text" id="author" name="author"><br>
        <label for="year">Year:</label><br>
        <input type="number" id="year" name="year"><br>
        <label for="genre">Genre:</label><br>
        <input type="text" id="genre" name="genre"><br>
        <label for="medium">Medium:</label><br>
        <input type="text" id="medium" name="medium"><br>
        <label for="type">Type:</label><br>
        <input type="text" id="type" name="type"><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>